a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    margin: 20vh;
}

.left {
    min-width: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-flow: column nowrap;
    border: 1px solid #CCC;
}

.right {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 5vh;
}
